@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rowdies:wght@300&family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.hero {
    background-image:url(../asset/fondo-principal-mate1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    
}


.hero__container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    
}

.hero__title {
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    font-size: 40px;
}



.carousel-inner {
    width: 100%;
    height: 65vh;
    display: flex;
}



.carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-item h5 {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    position: relative;
   text-align: center;

}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel {
    height: 100%;
    width: 100%;
}



.carousel-caption h5 {

    margin-bottom: 230px;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 40px;
    
    
}








.btn {


    border: none;
    box-shadow: 0 0 11px 0 #285430;

}

.btn:hover {
    background-color: #048324;
    transition: .5s;
    box-shadow: 0 0 11px 0 #004c13;
    cursor: pointer;
}









header {
    background-color: #e5d9b6;
    width: 100%;
    height: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
    
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;

}

header nav {
    font-size: 20px;
    
    font-weight: bold;
    padding: 20px;
}


ul {
    display: flex;
    justify-content:  flex-end;
    flex-direction: row;
    list-style: none;
    padding: 2px;
    
    width: 100%;
    font-size: 16px;
    margin: 10px;
    
}






.navbar-brand {
    font-size: 20px;
    color: #004c13;
    font-family: 'Roboto', sans-serif;
}


.nav-item a{
    font-size: 16px;
    color: #004c13;
    font-family: 'Roboto', sans-serif;
}


.navbar-brand:hover {
    letter-spacing: 3px;
    transition: .5s;
    color: #004c13;
}



.nav-item:hover {
    letter-spacing: 3px;
    transition: .5s;
    color: #004c13;
}







.info {
    background-color: #a4be7b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.info img {
    margin: 10px;
    border-radius: 20px;
}


.info__text {
    width:55%;
    flex-direction: column;
    color: #0a301d;
    align-items:center;
    justify-content: space-between;

}

.info__text p {
    font-size: 27px;
    font-family: 'Secular One', sans-serif;
}

.cards-info {
    width: 100%;
    height: 100%;
    background-color: #5F8D4E;
}

.cards-info h3{
    text-align: center;
    padding-top: 50px;
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
    color: #eee;
    
}



.cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 400px;
}


.card {
    position: relative;
    border-radius: 25px;
    height: 550px;
    width: 23rem;
    border: none;
    background-color: #e5d9b6;
    position:static;
}


.card img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    border: none;
    height: 200px;
    width: 100%;
    border-bottom: 3px #1e9328 dotted;
}



.card-title {
    text-align: center;
    font-size: 28px;
    font-family: 'Rowdies', sans-serif;
    color: #004c13;
}

.card-text {
    text-align: center;
    font-family:'Secular One', sans-serif;
    color: #004c13;
    font-size: 20px;

}






footer {
    background-color: #e5d9b6;
    width: 100%;
    height: 100%;
}

.footer__text {
    height: 100%;
    width: 100%;
    
}

.footer__text p {
    text-align: center;
    padding: 25px;
    font-size: 20px;
    color: #004c13;
}

.footer__imgs {
    height: 100%;
    width: 100%;
    display: flex;

}

.footer__img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.fa-brands {
    font-size: 38px;
    color: #285430;
    margin-bottom: 20px;
    
}

.fa-brands:hover{
    transform: scale(1.1,1.1);
    transition: .6s;
}











/* CONTACTO */

.form-section {
    height: 100%;
    width: 100%;
    background-color: #a4be7b;
    
}

.form-section h1 {
    text-align: center;
    color: #000;
    font-size: 42px;
    padding: 30px;
    font-family: 'Secular One', sans-serif;
    
}

.forms {
    display: flex;
    justify-content: space-around;
}

.forms img {
    width: 40%;
    height: 100%;
    margin: 40px;
    border-radius: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.form input {
    background-color: #eee;
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 15px;
    outline: 1px solid #5F8D4E;
    text-align: center;
    font-size: 15px;
}

form label {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-family: 'Rowdies', sans-serif;
}

input::placeholder {
    text-align: center;
    color: #1e9328;
    font-family: 'Secular One', sans-serif;
    font-size: 17px;
}



input:hover {
    border: none;
    box-shadow: 0px -7px 0px -1px #e5d9b6;
    transition: .5s;


}

textarea {
    resize: none;
    width: 90%;
    height: 70px;
    border-radius: 15px;
    border: none;
    text-align: center;
    outline: 1px solid #5F8D4E;
}

textarea:hover {
    border: none;
    box-shadow: 0px -7px 0px -1px #e5d9b6;
    transition: .5s;

}

.submit-btn {
    font-family: 'Secular One', sans-serif;
    color: #1e9328;
}


.submit-btn:hover {
    background-color: #e5d9b6;
    color: #000;
    box-shadow: none;
    transition: .3s;

}









.products-info {
    width: 100%;
    height: 100%;
    
}

.products__title h1 {
    text-align: center;
    padding: 45px 0;
    color:#000;
    font-size: 40px;
    font-family: 'Secular One', sans-serif;
}

.products__subtitle h3 {
    text-align: center;
    margin: 70px 0;
    color: #000;
    font-size: 30px;
    font-family: 'Rowdies', sans-serif;
    letter-spacing: 3.5px;
}





.products {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: space-between;
}

.product {
    width: 30%;
    height: 100%;
    border-left:  2.5px rgb(222, 222, 222) solid;
    border-right:  2.5px rgb(222, 222, 222) solid;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    background-color: #fff;
}




.product img {
    margin: auto;
    width: 200px;
    height: 220px;
}

.divider {
    background-color: #a4be7b;
    width: 50%;
    height: 2px;
    display: flex;
    align-self: center;
    margin: 15px 0;
    
}

.product__text h4{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    font-family: 'Secular One', sans-serif;
    color: #02631a;
    font-size: 23px;
}

.product__text p{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Rowdies', sans-serif;
    color: #1e9328;
    font-size: 20px;
}

.fa-solid {
    color: #1e9328;
    font-size: 17px;
}


.product__button {
    margin: 15px;
}



.product:hover {
    box-shadow: 3px 15px 37px 13px #004c13;
    transition: .6s;
    border: none;
    cursor: pointer;
}




.mate-info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.mate-info .card {
    height: 100%;
    width: 50%;
    background-color: rgb(242, 238, 238);
    border: #198754 2px solid;
}



iframe {
    align-self: center;
    width: 90%;
    height: 400px;
    margin-bottom: 30px;
    border-radius: 20px;
}















.clients-info {
    width: 100%;
    height: 100%;
    background-color: #285430;
}


.clients-info h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    color: #eee;
    letter-spacing: .5px;
    font-family: 'Secular One', sans-serif;
}

.clients {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.client {
    flex-direction: column;
    margin: 20px;
}

.client img {
    height: 110px;
    width: 110px;
    border-radius: 50%;

}

.client__text h6{
    color: rgb(245, 245, 11);
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px;
    padding: 5px;
    font-family: 'Lobster','Roboto', sans-serif;
}

.client__text p {
    color: #eee;
    margin: 20px;
    font-size: 17px;

}

.fa-quote-left, .fa-quote-right {
    font-size: 20px;
    color: rgb(213, 213, 15);
}










/*MEDIA QUERIE 320PX*/




@media only screen and (max-width: 320px) {


    .carousel-inner {
        width: 100%;
        height: 65vh;
        display: flex;
    }
    

    
    .carousel-item {
        height: 100%;
        
    }
    

    .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .carousel {
        height: 100%;
        width: 100%;
    }
    
    
    .carousel-caption h5 {
        justify-content: center;
        margin-top: 216px;
        margin-bottom: 0;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 40px;
        
        
    }
    
    

/*HEADER*/

header {
    position: relative ;
    display: grid;
}







nav ul {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}


nav .navbar-brand {
    text-align: center;
    width: 100%;    
    margin: 10px;
    padding: 0;
}


li a {
    margin: 20px 0;
    display: grid;

}

.navbar-brand {
    font-size: 23px;
    display: grid;
    align-items: center;
    
    

}

.nav-item a{
    font-size: 20px;
}

/*INFO*/



.info {
    justify-content: center;
    flex-direction: column;

}

.info img {

    height: 40%;
    width: 90%;

}


.info__text {
    width:100%;
    padding: 10px;
    align-items: center;
    justify-content: center;

}

.info__text p {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;

}

/*CARDS*/




.cards {
    flex-direction: column;
    gap: 0px;
}



.card {
    width: 90%;
    align-self: center;
    height: 590px;
}















/*CLIENTES*/



.clients {
    display: grid;
    justify-content: center;

}


.client {
    display: flex;
    align-items: center;

}


.client__text h6 {
    text-align: center;
    font-size: 17px;
}

.client__text p {
    text-align: center;
}



/*PRODUCTOS*/





.products {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;

    
}

.products__subtitle h3 {

    letter-spacing: .7px;
}

.product {
    width: 230px;


}

.product img {
    width: 200px;
    height: 230px;
}


.product__button {
    margin-bottom: 10px;

}

.divider {

    width: 70%;

}


.product:hover {
    box-shadow: 3px 3px 37px 3px #004c13;
    transition: .6s;
    border: none;
    cursor: pointer;
}

.separate {
    width: 100%;
    height: 50px;
}




/*IFRAME*/




.mate-info .card {
    width: 100%;

}



iframe {
    width: 200px;
    height: 200px;
}


/*FORM*/


.forms {
    justify-content: center;
    flex-direction: column;
}

.forms img {
    align-self: center;
    width: 90%;
    margin: 0 0 20px 0;
    
}

form {
    width: 100%;
}


.form {
    height: 100%;
}



form label {
    margin: 20px 0;
}


textarea {
    margin-bottom: 50px;
}



.submit-btn {
    margin-bottom: 50px;
}


}




















/*MEDIA QUERIE 480PX*/

@media only screen and (max-width: 480px) {


    

    
    /*HEADER*/
    
    header {
        position: relative ;
        
    }
    

    
    nav ul {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    
    nav .navbar-brand {
        text-align: center;
        width: 100%;    
        margin: 10px;
        padding: 0;
    }
    
    
    li a {
        margin: 20px 0;
        display: grid;
    
    }
    
    .navbar-brand {
        font-size: 23px;
        display: grid;
        align-items: center;
        
        
    
    }
    
    .nav-item a{
        font-size: 20px;


    
    }









    .carousel-inner {
        width: 100%;
        height: 65vh;
        display: flex;
    }
    

    
    .carousel-item {
        height: 100%;
        
    }
    

    .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .carousel {
        height: 100%;
        width: 100%;
    }
    
    
    .carousel-caption h5 {
        justify-content: center;
        margin-bottom: 260px;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 40px;
        
        
    }



    
    /*INFO*/
    
    
    
    .info {
        justify-content: center;
        flex-direction: column;
    
    }
    
    .info img {
    
        height: 40%;
        width: 90%;
    
    }
    
    
    .info__text {
        width:100%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    
    }
    
    .info__text p {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
    
    }
    
    /*CARDS*/
    
    
    
    
    .cards {
        flex-direction: column;
        gap: 0px;
    }
    
    
    
    .card {
        width: 90%;
        align-self: center;
        height: 100%;
    }
    

    
    
    
    /*CLIENTES*/
    
    
    
    .clients {
        display: grid;
        justify-content: center;
    
    }
    
    
    .client {
        display: flex;
        align-items: center;
    
    }
    
    
    .client__text h6 {
        text-align: center;
        font-size: 17px;
    }
    
    .client__text p {
        text-align: center;
    }
    
    
    
    /*PRODUCTOS*/
    
    
    
    
    
    .products {
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
    
        
    }
    
    .products__subtitle h3 {
    
        letter-spacing: .7px;
    }
    
    .product {
        width: 90%;
    
    
    }
    
    .product img {
        width: 200px;
        height: 230px;
    }
    
    
    .product__button {
        margin-bottom: 10px;
    
    }
    
    .divider {
    
        width: 70%;
    
    }
    
    
    .product:hover {
        box-shadow: 3px 3px 37px 3px #004c13;
        transition: .6s;
        border: none;
        cursor: pointer;
    }
    
    .separate {
        width: 100%;
        height: 50px;
    }
    
    
    
    
    /*IFRAME*/
    
    
    .mate-info .card {
        width: 100%;
    
    }
    
    

    /*FORM*/


.forms {
    justify-content: center;
    flex-direction: column;
}

.forms img {
    align-self: center;
    width: 90%;
    margin: 0 0 20px 0;
    
}

form {
    width: 100%;
}


.form {
    height: 100%;
}



form label {
    margin: 20px 0;
}


textarea {
    margin-bottom: 50px;
}



.submit-btn {
    margin-bottom: 50px;
}


    
}






/*


@media only screen and (max-width:600px) {

    .hero {
        height: 40vh;
    }




    header {
        position: relative ;
        
    }
    

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    
    nav ul {
        margin: 0;
        padding: 0;
    }
    
    
    nav .navbar-brand {
        text-align: center;
        width: 100%;    
        margin: 10px;
    
    }
    

    .navbar-brand {
        font-size: 23px;
    }
    
    nav .nav-link {
        margin: 10px 0;
    
    }
    


    .nav-item a{
        font-size: 19px;
    }



    
    
    .info {
        justify-content: center;
        flex-direction: column;
    
    }
    
    .info img {
    
        height: 50%;
        width: 90%;
    
    }
    
    
    .info__text {
        width:100%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    
    }
    
    .info__text p {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        

    }






.cards {
    flex-direction: row;
    gap: 20px;
}



.card {
    width: 45%;
    align-self: center;
    height: 630px;
    
}

    

.clients {
    display: flex;
    justify-content: center;

}


.client {
    display: flex;
    align-items: center;
    width: 30%;
    

}




.client__text h6 {
    text-align: center;
    font-size: 17px;
}

.client__text p {
    text-align: center;
}




}


*/









