@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rowdies:wght@300&family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*
.hero {
    background-image:url(../asset/fondo-principal-mate1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
}


.hero__container {


    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100%;
    width: 100%;
    letter-spacing: 5px;

}
*/
